body {
  font-family: roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.header-register {
  margin-top: px;
  margin-bottom: 0px;
}

.register {
  color: green;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  border-bottom: 1px;
  border-style: none;
  display: grid;
  grid-template-columns:1fr ;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

.main-div {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background-color: grey;
  
}

.main {
  display: grid;
  grid-template-columns: 200px;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 10px;
}


#inputFirstName,
#inputLastName,
#inputEmail,
#inputPhone,
#inputPassword,
#inputConfirmPassword {
  border-width: 0;
  border-color: white;
  border-style: none;
  height: 30px;
  width: 200px;
  border-radius: 3px;
}
 
 .signup-button {
  width: 200px;
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  transition: background-color 0.15s;
  margin-bottom: 20px;
  margin-top: 0px;
  
}

.signup-button:hover {
  background-color: lightblue;
  color: green;
  opacity: 0.6;
}

.signup-button:active {
  background-color: rgba(108, 122, 30, 0.356);
}

.footer {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  align-items: center;
}